small 
  || 
  a(href='#waterfall') Waterfall |
  | &nbsp;|&nbsp;
  a(href='#download-HAR') Download HAR
  | &nbsp;|&nbsp;

a#waterfall
h3 Waterfall
//- on the summary page, display which run that was chosen for the HAR
if medianRun
  p.small Run&nbsp;
    a(href='./' + medianRun.runIndex + '.html') #{(medianRun.runIndex)}
    | &nbsp;#{medianRun.name}
    if !medianRun.default
      | &nbsp;median

if (options.html.showAllWaterfallSummary === true)
  p Choose HAR:
  select#page-selector

#legend-holder

if options.html.fetchHARFiles
  include ./fetchHAR.pug
else
  include ./includeHARinHTML.pug

a#download-HAR
.downloads
  - const harEnding = options.gzipHAR ? '.har.gz' : '.har'
  - const harName = 'data/browsertime' + harEnding
  - const harDownloadName = downloadName + harEnding
  
  a.button.button-download(href=harName, download=harDownloadName) Download HAR
  if (options.html && options.html.compareURL && options.resultBaseURL)
    - const compareURL =  options.html.compareURL + '?compare=1&har1=' + context.resultUrls.absoluteSummaryPagePath(daurl, daurlAlias) + harName
    a.button.button-download(href=compareURL) Compare
