- const coach = pageInfo.data.coach ? pageInfo.data.coach.run.advice : pageInfo.data.browsertime.page[0].browserScripts[run].coach.coachAdvice.advice;

script(type='text/javascript').
  function toggleRow() {
    var rows = document.getElementsByClassName("hideable");
    for (var i = 0; i < rows.length; ++i) {
      
      var status = rows[i].currentStyle ? rows[i].currentStyle.display :
                              getComputedStyle(rows[i], null).display;
      
      rows[i].style.display = (status === 'none') ? "table-row" : "none";
      
    }  
  } 
   
.row
  .column
    a#coach
    .row
      .four.columns
        img.u-max-full-width(src='#{path}img/coach.png', alt='Im the coach')
      .eight.columns
        h3 Coach score
        ul
          li Total score #{coach.score}
          li Performance score #{coach.performance.score}
          li Accessibility Score #{coach.accessibility.score}
          li Best practice score #{coach.bestpractice.score}
    .row
      .twelve.columns
        h3 Accessibility advice (#{coach.accessibility.score}) 
        button.button-primary(onclick='toggleRow();') Show/hide details
        if coach.accessibility.score < 100
          table
            tr
              th Title
              th Advice
              th Score
            each rule, name in coach.accessibility.adviceList
              if rule.score < 100
                tr
                  td #{rule.title} (#{name})
                  td #{rule.advice}
                  td #{rule.score}
                - if (rule.offending.length > 0)  
                  tr.hideable
                    td.url.offendingurl(colspan='3') !{rule.offending.join('<br>')}
        else
          p You have a perfect accessibility score!

        h3 Performance advice (#{coach.performance.score})
        button.button-primary(onclick='toggleRow();') Show/hide details
        if coach.performance.score < 100
          table
            tr
              th Title
              th Advice
              th Score
            each rule, name in coach.performance.adviceList
              if rule.score < 100
                tr
                  td #{rule.title} (#{name})
                  td #{rule.advice}
                  td #{rule.score}
                - if (rule.offending.length > 0)   
                  tr.hideable
                    td.url.offendingurl(colspan='3') !{rule.offending.join('<br>')}
                
        else
          p You have a perfect performance score!

        h3 Best practice advice (#{coach.bestpractice.score})
        button.button-primary(onclick='toggleRow();') Show/hide details
        if coach.bestpractice.score < 100
          table
            tr
              th Title
              th Advice
              th Score
            each rule, name in coach.bestpractice.adviceList
              if rule.score < 100
                tr
                  td #{rule.title} (#{name})
                  td #{rule.advice}
                  td #{rule.score}
                - if (rule.offending.length > 0)   
                  tr.hideable
                    td.url.offendingurl(colspan='3') !{rule.offending.join('<br>')}  
        else
          p Your best practice score is perfect!

        a#info
        h2 Info
        table
          each value, name in coach.info
            tr
              td #{name}
              td #{value}
