include ../../_tableMixins

mixin adviceInfo(name, perfectScore, node)
  h3 #{name} (#{node.score})
  if node.score < 100
    button.hidden-small.button.button--primary(onclick='toggleRow(this);') Show/hide details
    .responsive
      table
        thead
          tr
            th Title
            th Advice
            th Score
        tbody
          each advice, adviceName in node.adviceList
            if advice.score < 100
              tr
                td(data-title='Title') #{advice.title} (#{adviceName})
                td.url(data-title='Advice') #{advice.advice}
                td.number(data-title='Score') #{advice.score}
            if (advice.offending.length > 0)
              tr.u-hideable
                td.url.offendingurl(colspan='3')
                  ul
                    each offender in advice.offending
                      li #{offender}
  else
    p #{perfectScore}

- var advice = pageInfo.data.coach.run ? pageInfo.data.coach.run.advice : pageInfo.data.coach.pageSummary.advice;

h2 Coach
p.small
  a(href='https://github.com/sitespeedio/coach') The coach
  | &nbsp;helps you find performance problems on your web page using web performance best practice rules. And gives you advice on accessibility and best practices.
  
script(type='text/javascript').
  function toggleRow(toggleElement) {
    var rows = toggleElement.nextSibling.getElementsByClassName("u-hideable");
    for (var i = 0; i < rows.length; ++i) {
      var status = rows[i].currentStyle ? rows[i].currentStyle.display :
                              getComputedStyle(rows[i], null).display;
      rows[i].style.display = (status === 'none') ? "table-row" : "none";
    }
  }

.row
  .column
    .row
      .four.columns
        a(href='https://github.com/sitespeedio/coach')
          img.u-max-full-width(src= rootPath + 'img/coach.png', alt='I am the coach')
      .eight.columns
        h3 Coach score
        ul
          - sLabel = 'label normal ' + h.scoreLabel(advice.score)
          - pLabel = 'label normal ' + h.scoreLabel(advice.performance.score)
          - aLabel = 'label normal ' + h.scoreLabel(advice.accessibility.score)
          - bLabel = 'label normal ' +  h.scoreLabel(advice.bestpractice.score)
          li.group-item Total score&nbsp;
            span(class=sLabel) #{advice.score}
          li.group-item Performance score&nbsp;
            span(class=pLabel) #{advice.performance.score}
          li.group-item Accessibility score&nbsp;
            span(class=aLabel) #{advice.accessibility.score}
          li.group-item Best practice score&nbsp;
            span(class=bLabel) #{advice.bestpractice.score}
    .row
      .twelve.columns
        +adviceInfo('Accessibility advice','You have a perfect accessibility score!', advice.accessibility)

        +adviceInfo('Performance advice','You have a perfect Performance score!', advice.performance)

        +adviceInfo('Best practice advice','Your best practice score is perfect!', advice.bestpractice)

    include ./pageInfo.pug
