include ../../_tableMixins

mixin adviceInfo(name, perfectScore, node)
  h3 #{name} (#{node.score})
  if node.score < 100
    button.hidden-small.button-primary(onclick='toggleRow();') Show/hide details
    .responsive
      table
        thead
          tr
            th Title
            th Advice
            th Score
        tbody
          each advice, adviceName in node.adviceList
            if advice.score < 100
              tr
                td(data-title='Title') #{advice.title} (#{adviceName})
                td.url(data-title='Advice') #{advice.advice}
                td.number(data-title='Score') #{advice.score}
            if (advice.offending.length > 0)
              tr.hideable
                td.url.offendingurl(colspan='3') !{advice.offending.join('<br>')}
  else
    p #{perfectScore}

- const coach = pageInfo.data.coach ? pageInfo.data.coach.run.advice : pageInfo.data.browsertime.page[0].browserScripts[run].coach.coachAdvice.advice;

a#coach
h2 Coach

script(type='text/javascript').
  function toggleRow() {
    var rows = document.getElementsByClassName("hideable");
    for (var i = 0; i < rows.length; ++i) {
      var status = rows[i].currentStyle ? rows[i].currentStyle.display :
                              getComputedStyle(rows[i], null).display;
      rows[i].style.display = (status === 'none') ? "table-row" : "none";
    }
  }

.row
  .column
    .row
      .four.columns
        img.u-max-full-width(src='#{rootPath}/img/coach.png', alt='I am the coach')
      .eight.columns
        h3 Coach score
        ul
          li Total score #{coach.score}
          li Performance score #{coach.performance.score}
          li Accessibility Score #{coach.accessibility.score}
          li Best practice score #{coach.bestpractice.score}
    .row
      .twelve.columns
        +adviceInfo('Accessibility advice','You have a perfect accessibility score!',coach.accessibility)

        +adviceInfo('Performance advice','You have a perfect Performance score!',coach.performance)

        +adviceInfo('Best practice advice','Your best practice score is perfect!',coach.bestpractice)

        a#info
        h2 Page info
        table
            tr
              td Title
              td #{coach.info.documentTitle}
            tr
              td Width
              td.number #{coach.info.documentWidth}
            tr
              td Height
              td.number #{coach.info.documentHeight}
            tr
              td DOM elements
              td.number #{coach.info.domElements}
            tr
              td Avg DOMdepth
              td.number #{coach.info.domDepth.avg}
            tr
              td Max DOM depth
              td.number #{coach.info.domDepth.max}
            tr
              td Iframes
              td.number #{coach.info.iframes}
            tr
              td Local storage
              +sizeCell('', coach.info.localStorageSize)
            tr
              td Session storage
              +sizeCell('', coach.info.sessionStorageSize)
            tr
              td HTML vs AMP
              td #{coach.info.amp?'This is an AMP page':'Plain good HTML page'}
        h3 Resource hints
        table
          each value, key in coach.info.resourceHints
            tr
              td #{key}
              td.url !{value.join('<br>')}
