a#page-info
h2 Page info
.row
    .one-half.column
        table
            tr
                th(colspan='2') Page info
            tr
                td Title
                td.right #{advice.info.documentTitle}
            if advice.info.generator    
                tr
                    td Generator
                    td.right #{advice.info.generator}    
            tr
                td Width
                td.number #{advice.info.documentWidth}
            tr
                td Height
                td.number #{advice.info.documentHeight}
            tr
                td DOM elements
                td.number #{advice.info.domElements}
            tr
                td Avg DOM depth
                td.number #{advice.info.domDepth.avg}
            tr
                td Max DOM depth
                td.number #{advice.info.domDepth.max}
            tr
                td Iframes
                td.number #{advice.info.iframes}
            tr
                td Script tags
                td.number #{advice.info.scripts}
            tr
                td Local storage
                +sizeCell('', advice.info.localStorageSize)
            tr
                td Session storage
                +sizeCell('', advice.info.sessionStorageSize)
            tr
                td Network Information API
                td.right #{advice.info.networkConnectionType ? advice.info.networkConnectionType:'unknown'}

    .one-half.column
        if advice.info && advice.info.resourceHints
            include ./resourceHints.pug
