a
h2 Google Page Speed Insights
p.small Googles implementation of finding potential performance problems on your site.

h4 Total performance score #{pageInfo.data.gpsi.pageSummary.ruleGroups.SPEED.score}

.responsive
  table
    thead
      tr
        th Rule name
        th Summary
        th Impact
    tbody
    each rule, name in pageInfo.data.gpsi.pageSummary.formattedResults.ruleResults
      if (rule.ruleImpact > 0)
        tr
          td(data-title='Name') #{rule.localizedRuleName}
          td.url(data-title='Summary') #{rule.summary.format}
            //-each block in rule.urlBlocks
            //-  p #{block.header.format}
              //-  ul
              //-    each url in block.urls
              //-      each args in url
              //-        li #{args.value}
          td(data-title='Impact')  #{rule.ruleImpact}
