a#downloads
if options.html.logDownloadLink
      a.button.button-download(href=rootPath + 'logs/sitespeed.io.log', download) Download run log
if options.browsertime.video
    - const videoPath = 'data/video/' + (runIndex ? (Number(runIndex)+1) : 1) +'.mp4'
    a.button.button-download(href=videoPath, download=downloadName + '-video.mp4') Download video
if options.browsertime.chrome && options.browsertime.chrome.timeline
    - const tracePath = 'data/trace-' + (runNumber? runNumber : 1) + '.json.gz'
    a.button.button-download(href=tracePath, download=downloadName + '-timeline.json.gz') Download timeline
if d.browsertime && d.browsertime.har  
    - const harEnding = options.gzipHAR ? '.har.gz' : '.har'
    - const harName = 'data/browsertime' + harEnding
    - const harDownloadName = downloadName + harEnding
    a.button.button-download(href=harName, download=harDownloadName) Download HAR    
