if pageInfo.data.browsertime
  p.small Tested #{runTime} using #{h.cap(browserName || options.browsertime.browser)} #{browser.version}  
    if options.multi && options.html.showScript
      | (
      a(href= rootPath + 'scripts.html')= 'script'
      | ).
    else if options.multi
      | .
    a(href= rootPath + 'settings.html')= '(runtime settings).'

else if pageInfo.data.webpagetest
  p.small Tested #{timestamp} using WebPageTest #{options.webpagetest.location} using connectivity #{options.webpagetest.connectivity} for #{h.plural(options.webpagetest.runs, 'run')}.
