if pagexray.renderBlocking
  a#requests-render-blocking
  - const renderBlockingAssets = pagexray.assets.filter(a => a.renderBlocking)
  .listing-card
    .listing-card-header
      h3.listing-card-title Render blocking requests
      span.listing-card-meta #{renderBlockingAssets.length} #{renderBlockingAssets.length === 1 ? 'asset' : 'assets'}
    p.listing-card-help Render blocking information directly from Chrome.
    .responsive
      table(data-sortable, id='renderBlockingSummary')
        +rowHeading(['Blocking', 'In body parser blocking', 'Potentially blocking'])
        tr
          +numberCell('blocking', pagexray.renderBlocking.blocking)
          +numberCell('in_body_parser_blocking', pagexray.renderBlocking.in_body_parser_blocking)
          +numberCell('potentiallyBlocking', pagexray.renderBlocking.potentiallyBlocking)

  if renderBlockingAssets.length > 0
    .listing-card
      .listing-card-header
        h4.listing-card-title Render blocking assets
        span.listing-card-meta #{renderBlockingAssets.length} #{renderBlockingAssets.length === 1 ? 'asset' : 'assets'}
      .responsive
        table(data-sortable, id='renderBlockingAssets')
          +rowHeading(['URL', 'Type'])
          each asset in renderBlockingAssets
            tr
              td.url.assetsurl(data-title='URL')
                a(href=asset.url)= h.shortAsset(asset.url)
              td(data-title='Render Blocking Type') #{asset.renderBlocking}
