a#pagexray
h2 Page summary

- const pagexray = pageInfo.data.pagexray.run || pageInfo.data.pagexray.pageSummary[0];

p The page uses #{pagexray.httpVersion}

h3 Requests per response code
table
  tr
    th Response code
    th Total
  each total, code in pagexray.responseCodes
    tr
      td #{code}
      td #{total}

- totalContentSize = 0
- totalTransferSize = 0
- totalHeaderSize = 0
- totalRequests = 0
h3 Requests and sizes per content type
.responsive
  table
    thead
      tr
        th Content
        th Transfer Size
        th Header Size
        th Content Size
        th Request(s)
    tbody
    each data, type in pagexray.contentTypes
      - totalContentSize += data.contentSize
      - totalTransferSize += data.transferSize
      - totalHeaderSize += data.headerSize > 0 ? data.headerSize : 0
      - totalRequests += data.requests
      tr
        td(data-title='type') #{type}
        td.number(data-title='transferSize') #{h.size.format(data.transferSize)}
        td.number(data-title='headerSize') #{data.headerSize > 0 ? h.size.format(data.headerSize) : ''}
        td.number(data-title='contentSize') #{h.size.format(data.contentSize)}
        td.number(data-title='requests') #{data.requests}
    tr
      td.number(data-title='Total') Total
      td.number(data-title='transferSize') #{h.size.format(totalTransferSize)}
      td.number(data-title='headerSize') #{h.size.format(totalHeaderSize)}
      td.number(data-title='contentSize') #{h.size.format(totalContentSize)}
      td.number(data-title='requests') #{totalRequests}
h3 Expires and last modified stats
.responsive
  table
    thead
      tr
        th type
        th min
        th median
        th max
    tbody
      tr
        td(data-title='Type')  Expires
        td.number(data-title='min') #{h.time.duration(pagexray.expireStats.min)}
        td.number(data-title='median') #{h.time.duration(pagexray.expireStats.median)}
        td.number(data-title='max') #{h.time.duration(pagexray.expireStats.max)}
      tr
        td(data-title='Type') Last modified
        td(data-title='min') #{h.time.duration(pagexray.lastModifiedStats.min)}
        td(data-title='median') #{h.time.duration(pagexray.lastModifiedStats.median)}
        td(data-title='max') #{h.time.duration(pagexray.lastModifiedStats.max)}
