h2 Page summary
a#pagexray

- const pagexray = pageInfo.data.pagexray.run || pageInfo.data.pagexray.pageSummary[0];

p The page uses #{pagexray.httpVersion}

table
  caption Requests per response code
  tr
    th.text Response code
    th.text Total
  each total, code in pagexray.responseCodes
    tr
      td.text #{code}
      td.text #{total}

  - totalContentSize = 0
  - totalTransferSize = 0
  - totalHeaderSize = 0
  - totalRequests = 0
  table
    caption Requests and sizes per content type
    tr
      th.text Content
      th Transfer Size
      th Header Size
      th Content Size
      th Request(s)
        each data, type in pagexray.contentTypes
          - totalContentSize += data.contentSize
          - totalTransferSize += data.transferSize
          - totalHeaderSize += data.headerSize > 0 ? data.headerSize : 0
          - totalRequests += data.requests
          tr
            td.text #{type}
            td #{h.size.format(data.transferSize)}
            td #{data.headerSize > 0 ? h.size.format(data.headerSize) : ''}
            td #{h.size.format(data.contentSize)}
            td #{data.requests}
        tr
          td Total
          td #{h.size.format(totalTransferSize)}
          td #{h.size.format(totalHeaderSize)}
          td #{h.size.format(totalContentSize)}
          td #{totalRequests}
  table
    caption Expires and last modified stats
    tr
      th.text type
      th min
      th p10
      th median
      th p90
      th p99
      th max
    tr
      td.text Expires
      each data, type in pagexray.expireStats
        td #{h.time.duration(data)}
    tr
      td.text Last modified
      each data, type in pagexray.lastModifiedStats
        td #{h.time.duration(data)}
