h2 Page summary
a#pagexray

- const pagexray = pageInfo.data.pagexray.run || pageInfo.data.pagexray.pageSummary[0];

p The page uses #{pagexray.httpVersion}

table
  caption Requests per response code
  tr
    th Response code
    th Total
  each total, code in pagexray.responseCodes
    tr
      td #{code}
      td #{total}

  - totalContentSize = 0
  - totalTransferSize = 0
  - totalHeaderSize = 0
  - totalRequests = 0
  table
    caption Requests and sizes per content type
    tr
      th Content
      th Transfer Size
      th Header Size
      th Content Size
      th Request(s)
        each data, type in pagexray.contentTypes
          - totalContentSize += data.contentSize
          - totalTransferSize += data.transferSize
          - totalHeaderSize += data.headerSize
          - totalRequests += data.requests
          tr
            td #{type}
            td #{helper.getKbSize(data.transferSize, true)}
            td #{helper.getKbSize(data.headerSize, true)}
            td #{helper.getKbSize(data.contentSize, true)}
            td #{data.requests}
        tr
          td Total
          td #{helper.getKbSize(totalTransferSize, true)}
          td #{helper.getKbSize(totalHeaderSize, true)}
          td #{helper.getKbSize(totalContentSize, true)}
          td #{totalRequests}
  table
    caption Expires and last modified stats
    tr
      th type
      th min
      th p10
      th median
      th p90
      th p99
      th max
    tr 
      td Expires
      each data, type in pagexray.expireStats
        td #{helper.prettyPrintSeconds(data)}
    tr 
      td Last modified
      each data, type in pagexray.lastModifiedStats
        td #{helper.prettyPrintSeconds(data)}      
