if browsertime.timings.elementTimings && Object.keys(browsertime.timings.elementTimings).length > 0
    a#elementTimings
    h3 Element timings
    table
        tr
          th Id
          if value.url !== ''  
            th URL
            th Image
          th Tag 
          th Render time
          th Load time
          th Natural width
          th Natural height
        each value, name in browsertime.timings.elementTimings
          tr
            td  #{name}
            if value.url !== ''    
              td  
                a(href=value.url) #{value.url}
              td 
                a(href=value.url)
                  img.screenshot(src=value.url, alt='LCP', style='width:200px')
            td  #{value.tagName}
            td  #{h.time.ms(value.renderTime)}
            td  #{h.time.ms(value.loadTime)} 
            td  #{value.naturalWidth}  
            td  #{value.naturalHeight}  
