if browsertime.timings.firstInput !== undefined
    a#firstInput
    h3 First Input Delay
    p Measured First Input Delay
    table
        tr
            th Name
            th Delay
            th Duration
            th Start Time
            th Processing Start
            th Processing End
        tr
            td  #{browsertime.timings.firstInput.name}
            td  #{h.time.ms(browsertime.timings.firstInput.delay)}
            td  #{h.time.ms(browsertime.timings.firstInput.duration)}
            td  #{h.time.ms(browsertime.timings.firstInput.startTime)}
            td  #{h.time.ms(browsertime.timings.firstInput.processingStart)}
            td  #{h.time.ms(browsertime.timings.firstInput.processingEnd)}
