h1 Sustainable Web

- const sustainable = pageInfo.data.sustainable.run ? pageInfo.data.sustainable.run : pageInfo.data.sustainable.pageSummary

p Sending data over the wire uses electricity, and because the internet still mostly runs on fossil fuels, the more data we send, the more fossil fuels we burn, which is bad news for our climate.

p A sustainable web is the 9th of the W3C's 
    a(href='https://www.w3.org/2001/tag/doc/ethical-web-principles/') Ethical Web Principles.
p You can learn more about building a sustainable web, and running your sites on greener infrastructure at 
    a(href='https://www.thegreenwebfoundation.org') The Green Web Foundation.

table
    tr
        th Page views 
        th Estimated CO2 emissions #{sustainable.co2PerPageView.median ?  '(median)':''}
    tr
        td 1 page view total
        td #{sustainable.co2PerPageView.median || Number(sustainable.co2PerPageView).toFixed(3)} grams
    tr
        td 1 page view first party
        td #{sustainable.co2PerParty.firstParty.median || Number(sustainable.co2PerParty.firstParty).toFixed(3)} grams
    tr
        td 1 page view third party
        td #{sustainable.co2PerParty.thirdParty.median || Number(sustainable.co2PerParty.thirdParty).toFixed(3)} grams
    tr
        td 1000 page views total
        td #{sustainable.co2PerPageView.median  || Number(sustainable.co2PerPageView).toFixed(3)}  kg
    tr
        td 1000 page views first party
        td #{sustainable.co2PerParty.firstParty.median || Number(sustainable.co2PerParty.firstParty).toFixed(3)}  kg
    tr
        td 1000 page views third party
        td #{sustainable.co2PerParty.thirdParty.median || Number(sustainable.co2PerParty.thirdParty).toFixed(3)}  kg
    if (options.sustainable && options.sustainable.pageViews)
        tr
            td #{options.sustainable.pageViews} page views
            td #{(sustainable.totalCO2.median/1000) || Number(sustainable.totalCO2/1000).toFixed(3)}  kg

if (sustainable.hostingInfo && options.sustainable.hosting)
    p #{sustainable.hostingInfo.url} is #{sustainable.hostingInfo.green === true ? 'hosted green! This hoster is using green energy / compensation for its services.' : 'not hosted green.'}

if sustainable.co2PerDomain
    h2 Per domain
    table
        tr
            th Domain
            th Estimated CO2 emissions
        each val, key in sustainable.co2PerDomain
            tr 
                td #{key} 
                    - if (sustainable.hostingGreenCheck.indexOf(key) > -1) 
                        span(class='label normal ok') green
                td #{val}

