include ../../_tableMixins

a
h2 Third party

p Third party requests categorised by 
    a(href='https://github.com/patrickhulce/third-party-web') Third party web
    | .

- const thirdparty= pageInfo.data.thirdparty.run || pageInfo.data.thirdparty.pageSummary;
if thirdparty.category && Object.keys(thirdparty.category).length > 0
    .row
        .one-half.column
            table(data-sortable, id='thirdPartyCategories')
                +rowHeading(['Category', 'Requests'])
                each metric, category in thirdparty.category
                    tr 
                        td(data-title='Category') #{category} 
                        +numberCell('requests', metric.requests ? metric.requests.median : metric)
        .one-half.column
            table(data-sortable, id='thirdPartyTools')
                +rowHeading(['Category', 'Number of tools'])
                each metric, category in thirdparty.category
                    tr 
                        td(data-title='Category') #{category} 
                        +numberCell('Tools', metric.tools ? metric.tools.median : Object.keys(thirdparty.toolsByCategory[category]).length)

if thirdparty.assets && Object.keys(thirdparty.assets).length > 0
    h3 Third party requests and tools
    button.hidden-small.button.button--primary(onclick='toggleRow(this);') Show/hide third party URLs
    table
        each category in Object.keys(thirdparty.assets)
            tr
                td(style='text-transform: uppercase;') 
                    b #{category} 
                    | (#{thirdparty.assets[category].length} requests) 
            - let oldNames = [];    
            each asset in thirdparty.assets[category]  
                if (!oldNames.includes(asset.entity.name)) 
                    - oldNames.push(asset.entity.name)
                    tr
                        td
                            a(href=asset.entity.homepage) #{asset.entity.name}  

            tr.u-hideable
                td.url.offendingurl
                    ul
                        each asset in thirdparty.assets[category]
                            li #{asset.url} 
                                b (#{asset.entity.name})

- const pagexray = pageInfo.data.pagexray.run || pageInfo.data.pagexray.pageSummary;
if pagexray.firstParty.requests
  include ./firstParty.pug                