mixin rowHeading(items)
  thead
    tr
      each item in items
        th= item

mixin durationCell(title, duration)
  td.number(data-title=title, data-value='#{duration}') #{h.time.duration(duration)}

mixin sizeCell(title, size)
  td.number(data-title=title, data-value='#{size}') #{h.size.asKb(size)}

mixin statsCell(stats, name, stat)
  - stat = stat ? stat : 'median'
  - value = stats ? stats[stat] : undefined
  td.number(data-title=name, data-value=value) #{value}
