extends ./layout.jade

mixin rowHeading(items)
    thead
      tr
        each item in items
            th= item

mixin rows(items)
        each item in items
            tr
                td
                  .url.assetsurl
                    a(href=item.url)= item.url
                td= item.type
                td= h.time.duration(item.lastModification)
                td= h.time.duration(item.cacheTime)
                td= h.size.format(item.size)
                td= item.requestCount

block content
    h2 Most used assets
    table.sortable-theme-bootstrap(data-sortable, id='assets')
        +rowHeading(['url', 'type', 'time since last modified', 'cache time', 'size', 'count'])
        +rows(assets)
