extends ./layout.jade

mixin rowHeading(items)
    tr
        each item in items
            th= item

mixin row(items)
        each item in items
            tr
                td
                    a(href=item.url)= item.url
                td= item.type
                td= item.lastModification
                td= helper.prettyPrintSeconds(item.cacheTime)
                td= helper.getKbSize(item.size, true)
                td= item.requestCount

block content
    h2 Most used assets!
    table
        +rowHeading(['url', 'type', 'last modified', 'cache time', 'size', 'count'])
        +row(assets)
