extends ./layout.jade

mixin rowHeading(items)
    thead
      tr
        each item in items
            th= item

mixin rows(items)
        each item in items
            tr
                td.text.url.assetsurl(data-title='URL')
                  a(href=item.url)= item.url
                td(data-title='type')= item.type
                td(data-title='last modified', data-value='#{item.lastModification}')= h.time.duration(item.lastModification)
                td(data-title='cache time', data-value='#{item.cacheTime}')= h.time.duration(item.cacheTime)
                td(data-title='size', data-value='#{item.size}')= h.size.format(item.size)
                td(data-title='count')= item.requestCount

block content
    h2 Most used assets
    .responsive
      table(data-sortable, id='assets')
          +rowHeading(['url', 'type', 'time since last modified', 'cache time', 'size', 'count'])
          +rows(assets)
