extends ./layout.pug
include _tableMixins

mixin row(budget)
  each results, url in budget
    each result in results
      tr
        td
          a(href=url)= url
          td #{result.type}.#{result.metric} with value #{result.value} limit #{result.limitType} #{result.limit}

block content
    h2 The budget
    p The result of the performance budget.

    h3 Failing budgets
    table
        +rowHeading(['url', 'result'])
        +row(budget.failing)

    h3 Working budgets
    table
        +rowHeading(['url', 'result'])
        +row(budget.working)
