extends ./layout.jade

mixin statsCell(stats, name)
  - value = stats ? stats.median : undefined
  td.number(data-title=name, data-value=value) #{value}

block content
    h2 Domains
    .responsive
      table(data-sortable, id='domains')
        thead
          tr
            th Domain
            th blocked
            th dns
            th connect
            th send
            th wait
            th receive
            th total
            th requests
        each domain in domainStats
          tr
            td.url.assetsurl(data-title='Domain') #{domain.domainName}
            +statsCell(domain.blocked, 'Blocked')
            +statsCell(domain.dns, 'DNS')
            +statsCell(domain.connect, 'Connect')
            +statsCell(domain.send, 'Send')
            +statsCell(domain.wait, 'Wait')
            +statsCell(domain.receive, 'Receive')
            +statsCell(domain.totalTime, 'Total time')
            td.number(data-title='Requests', data-value=domain.requestCount) #{domain.requestCount}
