.darkblue.nav
  .navgrid
    .logo
        a(href='https://www.sitespeed.io')
          img.navbar-brand(src='#{path}img/sitespeed.io-logo.png', width='162', height='50')
      ul
        li
          a(href='#{path}index.html' class="#{menu==='summary'?'active':''}") Summary
        li
          a(href='#{path}domains.html' class="#{menu==='domains'?'active':''}") Domains
        li
          a(href='#{path}assets.html' class="#{menu==='assets'?'active':''}") Assets
        li
          a(href='#{path}pages.html' class="#{menu==='pages'?'active':''}") Pages
  
