doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= pageTitle
        meta(name='description', content='#{pageDescription}')
        link(rel='stylesheet', href='#{rootPath}/css/normalize.css')
        link(rel='stylesheet', href='#{rootPath}/css/skeleton.css')
        link(rel='stylesheet', href='#{rootPath}/css/navigation.css')
        link(rel='stylesheet', href='#{rootPath}/css/sitespeed.css')
        link(rel='stylesheet', href='#{rootPath}/css/sortable-theme-minimal.css')
        block inlineStyles

    body
      include ./header.jade
      .container

        block content

        include ./footer.jade
      script(src='#{rootPath}/js/sortable.min.js')
