doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= pageTitle
        meta(name='description', content=pageDescription)
        meta(name='robots', content='noindex')
        link(rel='stylesheet', href=assetsPath + 'css/index.min.css')
        block inlineStyles
        style(type='text/css').
         #{css}

        link(rel='apple-touch-icon-precomposed', sizes='144x144', href=assetsPath + 'img/ico/sitespeed.io-144.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href=assetsPath + 'img/ico/sitespeed.io-114.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href=assetsPath + 'img/ico/sitespeed.io-72.png')
        link(rel='apple-touch-icon-precomposed', href=assetsPath + 'img/ico/sitespeed.io-57.png')
        link(rel='shortcut icon', href=assetsPath + 'img/ico/sitespeed.io.ico')
    body
      include ./header.pug
      .container

        block content

        include ./footer.pug
      script(src= assetsPath + 'js/sortable.min.js')
      script(src= assetsPath + 'js/chartist.min.js')
      script(src= assetsPath + 'js/chartist-plugin-axistitle.min.js')
      script(src= assetsPath + 'js/chartist-plugin-tooltip.min.js')
