extends ./layout.jade

block content
  .row
    .column
      h2 Pages
      table.sortable-theme-bootstrap(data-sortable, id='pages')
        thead
          tr
            th url
            th js size (kb)
            th css size (kb)
            th image size (kb)
            th total size (kb)
            th total requests
            th performance score
        each pageInfo, url in pages
            - p = pageInfo.data.pagexray.pageSummary[0]
            tr
                td.url.pagesurl
                    a(href='#{pageInfo.path}/index.html')= url
                td #{p.contentTypes.javascript?helper.getKbSize(p.contentTypes.javascript.transferSize, false):0}
                td #{p.contentTypes.css?helper.getKbSize(p.contentTypes.css.transferSize, false):0}
                td #{p.contentTypes.image.transferSize?helper.getKbSize(p.contentTypes.image.transferSize, false):0}
                td #{helper.getKbSize(p.transferSize, false)}
                td #{p.requests}
                td
                    - score = pageInfo.data.browsertime.page[0].browserScripts[0].coach.coachAdvice.advice.performance.score
                    - label = 'label ' +  helper.getLabel(score)
                    span(class=label)  #{score}
