extends ./layout.jade
include _tableMixins

mixin rows(pages)
  each pageInfo, url in pages
    - p = pageInfo.data.pagexray.pageSummary[0], t = p.contentTypes
    tr
      td.url.pagesurl(data-title='URL')
        a(href='#{pageInfo.path}/index.html')= url
      +sizeCell('Javascript size', h.get(t.javascript, 'transferSize'))
      +sizeCell('CSS size', h.get(t.css, 'transferSize'))
      +sizeCell('Image size', h.get(t.image, 'transferSize'))
      +sizeCell('Total size', p.transferSize)
      td.number(data-title='Requests', data-value='#{p.requests}') #{p.requests}
      - score = pageInfo.data.browsertime.page[0].browserScripts[0].coach.coachAdvice.advice.performance.score
      - label = 'label ' +  h.scoreLabel(score)
      td.number(data-title='Performance score', data-value='#{score}')
        span(class=label) #{score}

block content
  .row
    .column
      h2 Pages
      .responsive
        table(data-sortable, id='pages')
          +rowHeading(['url', 'js size (kb)', 'css size (kb)', 'image size (kb)',
            'total size (kb)', 'total requests', 'performance score'])
          +rows(pages)
