h2.url #{h.plural(noPages,'page')} analysed for #{options.name ? options.name : h.short(context.name, 30)}

if usingBrowsertime

  p.small Tested #{timestamp} using #{h.cap(browserName || options.browsertime.browser)} #{browserVersion}
    if options.multi && options.html.showScript
        | (
        a(href= rootPath + 'scripts.html')= 'script'
        | ).
        | .
    a(href= rootPath + 'settings.html')= '(runtime settings).'
  
  if options.browsertime.browser === 'safari'
        p At the moment we get limited metrics from Safari. Transfer sizes and number of requests are missing.

else if usingWebPageTest
  p.small Tested #{timestamp} using WebPageTest #{options.webpagetest.location} using connectivity #{options.webpagetest.connectivity} for #{h.plural(options.webpagetest.runs, 'run')}.
