extends ./layout.pug
include _tableMixins

block content
  include runInfo

  if usingBrowsertime
    h2 Runtime settings
    table
      tr 
        td Sitespeed.io version
        td #{version}
      tr 
        td Test time
        td #{timestamp}
      tr 
        td Using Docker
        td #{options.docker ? 'Yes' : 'No'}
      tr
        td Browser 
        td #{get(browser, 'name')}
      tr 
        td Version 
        td #{get(browser, 'version', 'Unknown')}
      tr 
        td User Agent
        td #{get(browser, 'userAgent')}
      tr 
        td Connectivity
        td #{get(connectivity, 'profile')} using #{get(connectivity, 'engine')} #{ get(connectivity, 'profile') !== 'native' ? `( Down: ${get(connectivity, 'settings.down')} Up: ${get(connectivity, 'settings.up')} RTT: ${get(connectivity, 'settings.rtt')})`: ''}
      tr 
        td Platform 
        td #{android ? 'Android' : (ios ? 'iOS' : os.platform() + ' ' +  os.version() + ' ' ) }
      if android
        if android.model
          tr 
            td Phone model
            td #{android.model}
        if android.androidVersion
          tr 
            td Android version
            td #{android.androidVersion}
        if android.batteryTemperature
          tr 
            td Battery temperature
            td Start: #{android.batteryTemperature.start} °C Stop: #{android.batteryTemperature.stop} °C

          mode
      if ios
        if ios.deviceName
          tr 
            td Device
            td #{ios.deviceName}
        if ios.deviceUDID
          tr 
            td UUID
            td #{ios.deviceUDID}
  else 
    p No runtime settings if you do not run Browsertime.