a#timings
h3 Timings

- const browsertime = pageInfo.data.browsertime.run || pageInfo.data.browsertime.page[0].browserScripts[run]
- const timings = browsertime.timings;
- const visualMetrics = timings.visualMetrics;

table
  tr
    th name
    th timing
  each value, name in timings.timings
    tr
      td #{name}
      td.number #{value}
  if timings.firstPaint > -1
    tr
      td First paint
      td.number #{timings.firstPaint.toFixed(1)}
  tr
    td RUM Speed Index
    td.number #{timings.rumSpeedIndex.toFixed(1)}
  tr
    td Fully loaded
    td.number #{timings.fullyLoaded.toFixed(1)}
  if visualMetrics
    tr
      td SpeedIndex
      td.number #{visualMetrics.speedIndex.toFixed(1)}
    tr
      td Render
      td.number #{visualMetrics.firstVisualChange.toFixed(1)}
    tr
      td Last visual change
      td.number #{visualMetrics.lastVisualChange.toFixed(1)}
  if (Object.keys(timings.userTimings.marks).length > 0)
    each value, name in timings.userTimings.marks
      tr
        td #{value.name}
        td.number #{value.startTime.toFixed(1)}
  if (Object.keys(timings.userTimings.measures).length > 0)
    each value, name in timings.userTimings.measures
      tr
        td #{value.name}
        td.number #{value.startTime.toFixed(1)}
