mixin numberCell(title, number)
  td.number(data-title=title)= number

mixin sizeCell(title, size)
  td.number(data-title=title, data-value= size)= h.size.format(size)

a
h2 Google Page Speed Insights

- var gpsiSummary = pageInfo.data.gpsi.pageSummary

h3 Page metrics
.row
  .one-half.column
    table
      thead
        tr
          th(colspan='2') Resources
        tr
          td Requests
          +numberCell('', gpsiSummary.pageStats.numberResources)
        tr
          td Static Requests
          +numberCell('', gpsiSummary.pageStats.numberStaticResources)
        tr
          td CSS Requests
          +numberCell('', gpsiSummary.pageStats.numberCssResources)
        tr
          td JavaScript Requests
          +numberCell('', gpsiSummary.pageStats.numberJsResources)
        tr
          td Hosts
          +numberCell('', gpsiSummary.pageStats.numberHosts)
  .one-half.column
    table
      thead
        tr
          th(colspan='2') Sizes
        tr
          td Total request size
          +sizeCell('', gpsiSummary.pageStats.totalRequestBytes)
        tr
          td HTML size
          +sizeCell('', gpsiSummary.pageStats.htmlResponseBytes)
        tr
          td Images size
          +sizeCell('', gpsiSummary.pageStats.imageResponseBytes)
        tr
          td CSS size
          +sizeCell('', gpsiSummary.pageStats.cssResponseBytes)
        tr
          td JavaScript size
          +sizeCell('', gpsiSummary.pageStats.javascriptResponseBytes)
        tr
          td Others size
          +sizeCell('', gpsiSummary.pageStats.otherResponseBytes)

h3 Total performance score #{gpsiSummary.ruleGroups.SPEED.score}

.responsive
  table
    thead
      tr
        th Rule name
        th Summary
        th Impact
    tbody
    each rule, name in gpsiSummary.formattedResults.ruleResults
      if (rule.ruleImpact > 0)
        tr
          td(data-title='Name') #{rule.localizedRuleName}
          if rule.summary
            td.url(data-title='Summary') #{rule.summary.format}
          else
            td.url(data-title='Summary') No summary.
            //-each block in rule.urlBlocks
            //-  p #{block.header.format}
              //-  ul
              //-    each url in block.urls
              //-      each args in url
              //-        li #{args.value}
          td(data-title='Impact')  #{rule.ruleImpact}
