- const isSummary = !!medianRun
- const runIndex = isSummary ? medianRun.runIndex : iteration
- const videoIndex = options.browsertime.enableVideoRun ? '1' : runIndex
- const videoSrc = 'data/video/' + videoIndex + '.mp4'
- const width = options.mobile || options.android || (options.safari && options.safari.useSimulator) ? '400' : '800'

.video-card
  .video-card-header
    h3.video-card-title Video
    span.video-card-meta
      | Run #{runIndex}
      if isSummary
        |  · median
      if options.browsertime.enableVideoRun
        |  · --enableVideoRun
  .video-wrap
    video.video-player(controls, preload='none', width=width)
      source(src=videoSrc, type='video/mp4')
  a.button.button-download(href=videoSrc, download=downloadName + '-video.mp4') Download video
