include ../../_tableMixins

a
h2 WebPageTest
p.small Metrics & data collected using WebPageTest.org (or your private instance).
- var data = pageInfo.data.webpagetest.pageSummary.data
- var medianRun = data.median

p Test run from !{data.from} using #{medianRun.firstView.browser_name} - #{medianRun.firstView.browser_version}.
p Check the&nbsp;
  a(href= data.summary) result page on WebPageTest
  | .
each view in ['firstView', 'repeatView']
  - var median = medianRun[view];
  if median
    h4 #{view}
    .responsive
      table
        +rowHeading(['TTFB', 'Render', 'firstPaint', 'loadTime', 'SpeedIndex', 'fullyLoaded', 'connections'])
        tr
          td.number(data-title='TTFB') #{median.TTFB}
          td.number(data-title='render')  #{median.render}
          td.number(data-title='firstPaint') #{median.firstPaint}
          td.number(data-title='loadTime') #{median.loadTime}
          td.number(data-title='SpeedIndex') #{median.SpeedIndex}
          td.number(data-title='fullyLoaded') #{median.fullyLoaded}
          td.number(data-title='connections') #{median.connections}
      if (median.userTimes)
        table
          tr
          each value, key in median.userTimes
            th #{key}
          tr
          each value, key in median.userTimes
            +numberCell(key, value)
      if (median.custom)
        h5 Custom metrics
        table
          each key in median.custom
            tr
              td #{key}
              td #{median[key]}
    h3 Waterfall
    img.u-max-full-width(src= median.images.waterfall, alt='Waterfall view')
    h3 Connection view
    img.u-max-full-width(src= median.images.connectionView, alt='Connection view')
