
h2 WebPageTest
a#webpagetest

- const data = pageInfo.data.webpagetest.data[0].data
- const medianRun = data.median

a(href='#{data.summary}') WebPageTest

p #{data.from}

p #{medianRun.firstView.browser_name} - #{medianRun.firstView.browser_version}

each view in ['firstView', 'repeatView']
  - var median = medianRun[view];
  if median
    p #{view}
    table
      tr
        th TTFB
        th Render
        th fullyLoaded
        th SpeedIndex
      tr
        td #{median.TTFB}
        td #{median.render}
        td #{median.fullyLoaded}
        td #{median.SpeedIndex}
    p Waterfall
    img(src='#{median.images.waterfall}', alt='Waterfall view')
    p Connection view
    img(src='#{median.images.connectionView}', alt='Connnection view')
