a
h2 WebPageTest
p.small Metrics & data collected using WebPageTest.org (or your private instance).
- var wpt = pageInfo.data.webpagetest.run;

if options.webpagetest.timeline
  p
    a(href='data/trace-' + (runNumber? runNumber : 1) + '.json.gz') Download timeline trace categories


each view in ['firstView', 'repeatView']
  - var data = wpt[view];
  if data
    h4 #{view}
    .responsive
      table
        tr
          th TTFB
          th Render
          th firstPaint
          th loadTime
          th SpeedIndex
          th fullyLoaded
          th connections
        tr
          td.number(data-title='TTFB') #{data.TTFB}
          td.number(data-title='render') #{data.render}
          td.number(data-title='firstPaint') #{data.firstPaint}
          td.number(data-title='loadTime') #{data.loadTime}
          td.number(data-title='SpeedIndex') #{data.SpeedIndex}
          td.number(data-title='fullyLoaded') #{data.fullyLoaded}
          td.number(data-title='connections') #{data.connections}
      if (data.userTimes)
        table
          tr
          each value, key in data.userTimes
            th #{key}
          tr
          each value, key in data.userTimes
            td.number(data-title= key) #{value}
      if (data.custom)
        h5 Custom metrics
        table
          each key in data.custom
            tr
              td #{key}
              td #{data.custom[key]}
    h5 Waterfall
    img.u-max-full-width(src= data.images.waterfall, alt='Waterfall view')
    h5 Connection view
    img.u-max-full-width(src= data.images.connectionView, alt='Connection view')
