
h2 WebPageTest
a#webpagetest

- const wpt = pageInfo.data.webpagetest.run;

each view in ['firstView', 'repeatView']
  - var data = wpt[view];
  if data
    h4 #{view}
    table
      caption Metrics
      tr
        th.text TTFB
        th.text Render
        th.text firstPaint
        th.text loadTime
        th.text SpeedIndex
        th.text fullyLoaded
        th.text connections
      tr
        td #{data.TTFB}
        td #{data.render}
        td #{data.firstPaint}
        td #{data.loadTime}
        td #{data.SpeedIndex}
        td #{data.fullyLoaded}
        td #{data.connections}
    if (data.userTimes) 
      table
        caption User timings
        tr
        each value, key in data.userTimes    
          th #{key}
        tr  
        each value, key in data.userTimes       
          td #{value}
    h5 Waterfall
    img.u-max-full-width(src='#{data.images.waterfall}', alt='Waterfall view')
    h5 Connection view
    img.u-max-full-width(src='#{data.images.connectionView}', alt='Connnection view')
