
h2 WebPageTest
a#webpagetest

- const wpt = pageInfo.data.webpagetest.run;

each view in ['firstView', 'repeatView']
  - var data = wpt[view];
  if data
    h4 #{view}
    table
      caption Metrics
      tr
        th TTFB
        th Render
        th firstPaint
        th loadTime
        th SpeedIndex
        th fullyLoaded
        th connections
      tr
        td #{data.TTFB}
        td #{data.render}
        td #{data.firstPaint}
        td #{data.loadTime}
        td #{data.SpeedIndex}
        td #{data.fullyLoaded}
        td #{data.connections}
    if (data.userTimes) 
      table
        caption User timings
        tr
        each value, key in data.userTimes    
          th #{key}
        tr  
        each value, key in data.userTimes       
          td #{value}
    h5 Waterfall
    img(src='#{data.images.waterfall}', alt='Waterfall view', class='u-max-full-width')
    h5 Connection view
    img(src='#{data.images.connectionView}', alt='Connnection view', class='u-max-full-width')
