mixin frame(filmstrip, iteration)
    - const frameClass =  filmstrip[iteration].timings.length > 0 ? 'videoframe blue' : 'videoframe'
    a(href=path + filmstrip[iteration].file)
        img(src=path + filmstrip[iteration].file, alt='', class=frameClass)
    span.videoframetime #{filmstrip[iteration].time} s
    each timing in filmstrip[iteration].timings
        span.videoframetext !{timing.name ? timing.name : timing.metric}
            b &nbsp;#{h.time.ms(timing.duration || timing.value)}

small
    || 
    a(href='#filmstrip') Filmstrip
    | &nbsp;|&nbsp;
a#filmstrip
h2 Filmstrip
 
- const videoIndex = medianRun ? medianRun.runIndex : iteration;
- const path = 'data/filmstrip/' + videoIndex +'/';

if (options.filmstrip && options.filmstrip.showAll)
    p
        | Showing all the filmstrips. Set
        code  --filmstrip.showAll
        | to false to only show the ones that contains a change.
else
    p
        | Use
        code --filmstrip.showAll
        |  to show all filmstrips.

if filmstrip
 - for (let i=0; i<filmstrip.length; i=i+4)
    .row
     .three.columns.filmstrip
          +frame(filmstrip, i)
     if filmstrip[i+1]
         .three.columns.filmstrip
             +frame(filmstrip, i+1)
     if filmstrip[i+2]
         .three.columns.filmstrip
             +frame(filmstrip, i+2)
     if filmstrip[i+3]
         .three.columns.filmstrip
             +frame(filmstrip, i+3)
