extends ./layout.jade

block content
    h1 Page summary
    h5 #{url}
    p Tested using #{options.browsertime.browser} #{options.browsertime.iterations} time(s)
             
    include ./summaryBox.jade

    p All runs:  
      each val, index in runPages
        - value = Number(index) + 1
        a(href='./#{index}.html') #{value} 
        - if (value != Object.keys(runPages).length)
          | - 
          
    -run = 0            
    h3 This is statistics from run #{run+1}
    if pageInfo.errors
        p Errors
        .errors= JSON.stringify(pageInfo.errors, null, 2)
    else
      ul
        if pageInfo.data.browsertime
          if pageInfo.data.browsertime.page
            li: a(href='#coach') Coach
        if pageInfo.data.browsertime
          if pageInfo.data.browsertime.page
            li: a(href='#timings') Timings
        if pageInfo.data.pagexray
          if pageInfo.data.pagexray.pageSummary
            li: a(href='#info') Info
        if pageInfo.data.webpagetest
          li: a(href='#webpagetest') WebPageTest

      if pageInfo.data.browsertime
        if pageInfo.data.browsertime.page
           include ./coach/index.jade

      if pageInfo.data.browsertime
        if pageInfo.data.browsertime.page
          include ./browsertime/index.jade

      if pageInfo.data.pagexray
        if pageInfo.data.pagexray.pageSummary
          include ./pagexray/index.jade

      if pageInfo.data.webpagetest
          include ./webpagetest/index.jade
