extends ./layout.jade

block content
  h1 Page summary
  h5 #{url}
  p Tested using #{h.cap(options.browsertime.browser)} #{h.plural(options.browsertime.iterations, 'time')}.

  include ./summaryBox.jade

  .large All runs:
    each val, index in runPages
      - value = Number(index) + 1
      a(href='./#{index}.html') #{value}
      if (value !== Object.keys(runPages).length)
        | -
  p
  - run = 0
  h3 This is statistics from run #{run + 1}
  if pageInfo.errors
    p Errors
    .errors= JSON.stringify(pageInfo.errors, null, 2)
  else
    - d = pageInfo.data
    ul
      if d.coach && d.coach.pageSummary
        li: a(href='#coach') Coach
      if d.browsertime && d.browsertime.page
        li: a(href='#timings') Timings
      if d.pagexray && d.pagexray.pageSummary
        li: a(href='#pagexray') Info
      if d.webpagetest
        li: a(href='#webpagetest') WebPageTest

    if d.coach && d.coach.pageSummary
      include ./coach/index.jade

    if d.browsertime && d.browsertime.page
      include ./browsertime/index.jade

    if d.pagexray && d.pagexray.pageSummary
      include ./pagexray/index.jade

    if d.webpagetest
      include ./webpagetest/index.jade
