extends ./layout.jade

block content
    h1 Page summary
    h5 #{url}
    p Tested using #{options.browsertime.browser} #{options.browsertime.iterations} time(s)
    
    p Runs:  
      each val, index in runPages
        - value = Number(index) + 1
        a(href='./#{index}.html') #{value} 
        | - 
         
    include ./summaryBox.jade
      
    -run = 0            
    h3 This is info from the #{run} run
    if pageInfo.errors
        p Errors
        .errors= JSON.stringify(pageInfo.errors, null, 2)
    else
      ul
        if pageInfo.data.browsertime
          if pageInfo.data.browsertime.page
            li: a(href='#coach') Coach
        if pageInfo.data.browsertime
          if pageInfo.data.browsertime.page
            li: a(href='#timings') Timings
        if pageInfo.data.snufkin
          if pageInfo.data.snufkin.pageSummary
            li: a(href='#info') Info
        if pageInfo.data.webpagetest
          li: a(href='#webpagetest') WebPageTest

      if pageInfo.data.browsertime
        if pageInfo.data.browsertime.page
           include ./coach/index.jade

      if pageInfo.data.browsertime
        if pageInfo.data.browsertime.page
          include ./browsertime/index.jade

      if pageInfo.data.snufkin
        if pageInfo.data.snufkin.pageSummary
          include ./snufkin/index.jade

      if pageInfo.data.webpagetest
          include ./webpagetest/index.jade
