extends ./layout.jade

block content
    - runNumber = Number(runIndex)+1
    h1 Run #{runNumber} summary
    h5 #{url}
    
    p Tested using #{options.browsertime.browser} #{options.browsertime.iterations} time(s)
    
    if pageInfo.error
      .error= pageInfo.error
    else
      | Quick links
      ul.menu
        if pageInfo.data.snufkin
          if pageInfo.data.snufkin.run
            li: a(href='#info') Page summary
        if pageInfo.data.coach
          if pageInfo.data.coach.run
            li: a(href='#coach') Advice
        if pageInfo.data.browsertime
          if pageInfo.data.browsertime.run
            li: a(href='#timings') Timing
        if pageInfo.data.webpagetest
          if pageInfo.data.webpagetest.run
            li: a(href='#webpagetest') WebPageTest
        
      if pageInfo.data.coach
        if pageInfo.data.coach.run
          include ./coach/index.jade

      if pageInfo.data.browsertime
        if pageInfo.data.browsertime.run
          include ./browsertime/index.jade

      if pageInfo.data.snufkin
        if pageInfo.data.snufkin.run
          include ./snufkin/index.jade

      if pageInfo.data.webpagetest
        if pageInfo.data.webpagetest.run
          include ./webpagetest/run.jade
          
      .index-link
        a.button.button-primary(href=urlLink) Back to summary
