- const btStatistics = pageInfo.data.browsertime.page[0].statistics
h2 Summary
- timingMetrics = ['firstPaint', 'fullyLoaded', 'rumSpeedIndex']
.responsive
	table
		tr
			th.text metric
			th min
			th median
			th mean
			th max
		each timing in timingMetrics   
			tr
				td.text(data-title='metric') #{timing}
				td(data-title='min') #{btStatistics.timings[timing].min}
				td(data-title='median') #{btStatistics.timings[timing].median}
				td(data-title='mean') #{btStatistics.timings[timing].mean}
				td(data-title='max') #{btStatistics.timings[timing].max}
		if btStatistics.timings.userTimings
			if btStatistics.timings.userTimings.marks        
				each userTimings, name in btStatistics.timings.userTimings.marks
					tr
						td.text(data-title='#{name}') #{name}
						td(data-title='min') #{userTimings.min}
						td(data-title='median') #{userTimings.median}
						td(data-title='mean') #{userTimings.mean}
						td(data-title='max') #{userTimings.max}
		if btStatistics.visualMetrics      
			each visualMetric, name in btStatistics.visualMetrics
				tr
					td.text(data-title='#{name}') #{name}
					td(data-title='min') #{visualMetric.min}
					td(data-title='median') #{visualMetric.median}
					td(data-title='mean') #{visualMetric.mean}
					td(data-title='max') #{visualMetric.max}
