if options.browsertime.video
    - const videoPath = 'data/video/' + (iteration ? iteration : 1) +'.mp4'
    a.button.button-download(href=videoPath, download=downloadName + '-video.mp4') Download video
if options.browsertime.chrome && options.browsertime.chrome.timeline
    - const tracePath = 'data/trace-' + (iteration ? iteration : 1) + '.json.gz'
    a.button.button-download(href=tracePath, download=downloadName + '-timeline.json.gz') Download timeline
if d.browsertime && d.browsertime.har    
    - const harEnding = options.gzipHAR ? '.har.gz' : '.har'
    - const harName = 'data/browsertime' + harEnding
    - const harDownloadName = downloadName + harEnding
    a.button.button-download(href=harName, download=harDownloadName) Download HAR    
if options.browsertime.chrome && options.browsertime.chrome.collectNetLog
    - const netlogPath = 'data/chromeNetlog-' + (iteration ? iteration : 1) + '.json.gz'
    a.button.button-download(href=netlogPath, download=downloadName + '-netlog.json.gz') Download netlog
